* {

  text-align: center;
  margin-top: 50px;

}

.App {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f4f8;
  font-family: 'Arial', sans-serif;

}

.counter-container {

  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

h1 {

  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;

}

button {

  font-size: 1rem;
  padding: 10px 5px;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.resetar {

  background-color: #757575;
  color: white;

}

.aumentar {

  background-color: #4caf50;
  color: white;

}

.diminuir {
  background-color: #f44336;
  color: white;

}

button:hover {
  opacity: 0.9;
}